---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.svelte';
---

<Layout title="Welcome to Seenaoo | Seenaoo.">
	<main>
		<div class="h-[40rem] bg-red-200">
			<p>Mantap</p>
		</div>
		<div class="h-[40rem] bg-blue-200">
			<p>Mantap</p>
		</div>
		<div class="h-[40rem] bg-amber-200">
			<p>Mantap</p>
		</div>
	</main>
</Layout>
