---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.svelte';
---

<Layout title="Welcome to Seenaoo | Seenaoo.">
	<main class="">
		<section class="pt-[4rem]">
			<div class="bg-slate-100 relative w-full h-[95vh] md:h-[75vh] lg:h-[95vh] overflow-hidden">
				<div class="absolute h-full w-full top-0 left-0">
					<img class="h-full object-cover xl:h-auto" src="https://source.unsplash.com/FWVMhUa_wbY/1920x1280" alt="">
				</div>
				<div class="absolute bg-slate-900/60 absolute h-full w-full top-0 left-0"></div>
				<div class="absolute w-full translate-y-[40%] md:translate-y-[45%] lg:translate-y-[23%] 2xl:translate-y-[28%]">
					<div class="mx-10 md:mx-20 lg:w-1/2 xl:w-1/3 xl:mx-36 2xl:mx-56">
						<h1 class="text-white font-bold text-[2rem] md:text-[2.5rem] md:mr-32">Media kartu flashcard digital terbaik.</h1>
						<p class="text-white mt-10 text-justify md:text-lg md:mr-32">Bergabunglah dengan lebih dari xx juta siswa 
						menggunakan flashcard yang didukung oleh ilmu pembelajaran Seenaoo, tes latihan, dan solusi yang diverifikasi
						oleh para ahli untuk meningkatkan nilai dan mencapai tujuan mereka.</p>
						<div class="mt-6 md:mt-12">
							<Button label={"Daftar gratis"} client:load/>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-slate-100 px-4 md:px-12 lg:px-20 xl:px-44 2xl:px-72">
			<div class="py-14 px-10 md:py-24">
				<h2 class="font-bold text-xl text-center md:text-[1.8rem] md:leading-normal">90% siswa yang menggunakan Seenaoo memberi
				tahu kalau mereka dapat nilai lebih tinggi.</h2>
			</div>
			<div class="lg:flex lg:flex-row-reverse lg:items-center lg:justify-between">
				<div class="rounded-xl overflow-hidden lg:w-1/2">
					<img class="" src="https://source.unsplash.com/377gw1wN0Ic/1920x1280" alt="">
				</div>
				<div class="mx-5 lg:mx-0 lg:w-5/12">
					<h2 class="font-bold text-xl mt-8 md:text-[1.8rem] md:mt-14 md:leading-normal lg:mt-0">Menghafal dengan lebih cepat secara gratis</h2>
					<p class=" text-justify text-sm mt-4 md:text-lg md:mt-10">Penelitian menunjukkan bahwa mengetes diri sendiri
						 dengan kartu flashcard lebih efektif daripada membaca ulang catatan. Dari matematika,
						 kedokteran hingga bahasa modern, Seenaoo digunakan oleh siswa di lebih dari 100 mata pelajaran yang berbeda.</p>
					<div class="mt-6 md:mt-12">
						<Button label={"Ayo mulai"} client:visible/>
					</div>
				</div>
			</div>
			<div class="mt-20 md:mt-32 lg:flex lg:items-center lg:justify-between">
				<div class="rounded-xl overflow-hidden lg:w-5/12">
					<img class="" src="https://source.unsplash.com/tMI2_-r5Nfo/1024x1024" alt="">
				</div>
				<div class="mx-5 lg:w-6/12">
					<h2 class="font-bold text-xl mt-8 md:text-[1.8rem] md:mt-14 md:leading-normal lg:mt-0">Gunakan Seenaoo untuk belajar bahkan disaat anda berpergian</h2>
					<p class="text-justify text-sm mt-4 md:text-lg md:mt-10">Belajar kapanpun dan dimanapun dengan Seenaoo - dengan website kami yang
						responsive. Kemajuan anda akan selalu tersinkronisasi.</p>
				</div>
			</div>
		</section>
		<section class="bg-slate-100 px-4 md:px-12 lg:px-20 xl:px-44 2xl:px-72">
			<div class="py-14 px-10 md:py-24">
				<h2 class="font-bold text-xl text-center md:text-[1.8rem] md:mx-20 md:leading-normal">Apa yang pengguna katakan tentang Seenaoo.</h2>
			</div>
			<div class="pb-10 flex flex-col md:flex-row md:flex-wrap md:justify-center md:gap-10 md:pb-20">
				<div class="bg-slate-100 rounded-lg drop-shadow-lg overflow-hidden mx-10 mb-10 md:m-0 md:w-[45%] lg:w-[30%]">
					<div class="h-[15rem] overflow-hidden">
						<img class="object-cover" src="https://source.unsplash.com/d1UPkiFd04A/960x960" alt="">
					</div>
					<div class="mx-6 my-8">
						<p class="text-justify">"Seenaoo telah mendukung kesuksesan saya sejak SMA. Flashcard yang
							bisa dipakai saat dalam perjalanan akan membantu saya melalui masa-masa di universitas tanpa 
							bantuan orang lain.”</p>
						<p class="text-sm mt-6">Albertus, Mahasiswa tahun akhir, Perikanan</p>
					</div>
				</div>
				<div class="bg-slate-100 rounded-lg drop-shadow-lg overflow-hidden mx-10 mb-10 md:m-0 md:w-[45%] lg:w-[30%]">
					<div class="h-[15rem] overflow-hidden">
						<img class="object-cover" src="https://source.unsplash.com/iFgRcqHznqg/960x960" alt="">
					</div>
					<div class="mx-6 my-8">
						<p class="text-justify">"Semua teman kita pakai Seenaoo. Karena ini jadi cara yang menyenangkan 
							untuk belajar dan kami merasa lebih PD untuk mempersiapkan UTS dan UAS kami."
						</p>
						<p class="text-sm mt-6">Herlambang, Mahasiswa semester 5, Ilmu Gizi</p>
					</div>
				</div>
				<div class="bg-slate-100 rounded-lg drop-shadow-lg overflow-hidden mx-10 mb-10 md:m-0 md:w-[45%] lg:w-[30%]">
					<div class="h-[15rem] overflow-hidden">
						<img class="object-cover" src="https://source.unsplash.com/W7b3eDUb_2I/960x960" alt="">
					</div>
					<div class="mx-6 my-8">
						<p class="text-justify">“Mode belajar adalah hal terbaik yang pernah muncul dari Seenaoo.
							Seenaoo membuat kita menghafal istilah-istilah dengan cara termudah.”
						</p>
						<p class="text-sm mt-6">Mentari, Siswa kelas 12</p>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="px-4 bg-blue-200 py-10 md:px-12 md:py-20 
			lg:flex lg:flex-row-reverse lg:items-center lg:justify-between lg:px-20
			xl:px-44 2xl:px-72">
				<div class="rounded-xl overflow-hidden lg:w-1/2">
					<img src="https://source.unsplash.com/JyJwO0K5fWM/1000x1000" alt="">
				</div>
				<div class="mx-5 lg:mx-0 lg:w-5/12">
					<div class="mt-8 md:mt-12">
						<h2 class="uppercase font-bold md:text-xl">Guru</h2>
						<h2 class="font-bold text-xl md:text-[1.8rem] md:mt-2">Berdayakan murid anda</h2>
					</div>
					<p class="text-justify mt-4 md:text-lg md:mt-8">
						Bantu setiap siswa dengan percaya diri mempelajari apa saja, apa pun yang ingin mereka capai.
						Dengan menggunakan set bahan pelajaran gratis, mode belajar, dan permainan Evaluasi di kelas dari Seenaoo,
						Anda dapat langsung membuat pembelajaran di kelas jadi lebih aktif dan seru. Siswa dan guru dapat
						mendaftar dan belajar secara gratis.
					</p>
					<div class="mt-6 md:mt-12">
						<Button label={"Buat akun gratis"} client:visible/>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
