---
import Layout from "../layouts/Layout.astro";
import IconButton from "../components/IconButton.svelte";
import Button from "../components/Button.svelte";

---

<Layout title="Seenaoo Login | Seenaoo">
    <main>
        <section class="pt-[4rem] lg:pt-[4.5rem] bg-slate-100">
            <div class="px-6 mt-8">
                <div>
                    <a href="/register" class="font-bold text-2xl mr-6">Daftar</a>
                    <a href="/login" class="font-bold text-2xl text-teal-500">Masuk</a>
                </div>
                <div class="flex flex-col gap-4 mt-10">
                    <IconButton client:idle label={"Masuk dengan Google"} 
                    iconPath={"ion:logo-google"} borderColor={"border-slate-500"} noPadX textColor={"text-slate-500"} isBold
                    iconColor={"text-slate-500"}
                    height={"h-7"}
                    width={"w-7"}
                    buttonAdditionalClass={"w-full py-2"}
                    labelAdditionalClass={"text-sm"}/>
                    <IconButton client:idle label={"Masuk dengan Facebook"} 
                    iconPath={"ant-design:facebook-filled"} borderColor={"border-slate-500"} noPadX textColor={"text-slate-500"} isBold
                    iconColor={"text-slate-500"}
                    height={"h-7"}
                    width={"w-7"}
                    buttonAdditionalClass={"w-full py-2"}
                    labelAdditionalClass={"text-sm"}/>
                    <IconButton client:idle label={"Masuk dengan Apple"} 
                    iconPath={"mdi:apple"} borderColor={"border-slate-500"} noPadX textColor={"text-slate-500"} isBold
                    iconColor={"text-slate-500"}
                    height={"h-7"}
                    width={"w-7"}
                    buttonAdditionalClass={"w-full py-2"}
                    labelAdditionalClass={"text-sm"}/>
                </div>
                <div class="my-8">
                    <div class="flex items-center justify-between">
                        <div class="h-[1px] flex-1 bg-slate-500"></div>
                        <div class="max-w-[80%] text-center mx-4">
                            <p class="uppercase text-slate-500 font-bold text-xs">Atau email</p>
                        </div>
                        <div class="h-[1px] flex-1 bg-slate-500"></div>
                    </div>
                </div>
                <div>
                    <div class="flex flex-col mb-5">
                        <input type="email" id="email" placeholder="Ketik alamat email atau nama pengguna anda"
                        class="bg-transparent border-b-2 text-sm py-1
                        border-b-slate-900 focus:outline-0 focus:border-b-4 focus:border-b-amber-400 transition-all duration-200">
                        <label class="text-xs font-bold uppercase text-slate-500 mt-2" for="email">Email</label>
                    </div>
                    <div class="flex flex-col mb-2">
                        <input type="password" id="password" placeholder="Ketik alamat email atau nama pengguna anda"
                        class="bg-transparent border-b-2 text-sm py-1
                        border-b-slate-900 focus:outline-0 focus:border-b-4 focus:border-b-amber-400 transition-all duration-200">
                        <label class="text-xs font-bold uppercase text-slate-500 mt-2" for="password">Password</label>
                    </div>
                    <div class="flex justify-end mb-5">
                        <a class="font-bold text-sm text-teal-500" href="#">Lupa kata sandi?</a>
                    </div>
                </div>
                <div class="text-center mt-5">
                    <p class="text-sm">Dengan mengetuk Masuk, Anda menerima 
                        <a class="text-teal-500" href="">Syarat layanan</a> 
                        dan <a class="text-teal-500" href="#">Kebijakan privasi</a> Seenaoo</p>
                </div>
                <div class="mt-8">
                    <Button label={"Masuk"} pill={false} bgColor={"bg-teal-500"} additionalClass={'w-full py-4'}/>
                </div>
                <div class="text-center mt-2">
                    <p class="text-xs">Jangan lupa untuk keluar dari Akun Anda yang diakses dari perangkat yang dipakai bersama</p>
                </div>
                <div class="border-2 border-slate-400 text-center py-3 text-sm mt-6">
                    <p>Baru di Seenaoo? <a class="text-teal-500 font-bold" href="">Buat akun</a></p>
                </div>
            </div>
        </section>
    </main>
</Layout>